/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2017, 11.40.25
    Author     : INFORMATICA
*/

body {
    background-color: #e6f0ff;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {

    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic";

}

h2{
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic";
}
h3 {

    background-color:  #1a1aff;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic";
    color: white;
    text-align: center;
}

a:link{
    font-size: 15px;
    text-decoration: none;
    color: #111111;
}

a:visited{
    font-size: 15px;
    text-decoration: none;
    color: #111111;
}

a:hover{
    font-weight: bold;
}

header{
    font: 25px/50px "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic";
    background-color: #FF9933;
    position: fixed;
    right:5px;
    top: 5px;
    left:5px;
    height: 55px;
    z-index: 1000;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);


}
header h1{
    display:inline;
    text-align: left;
    padding-left: 2px;
    font-size: 40px; 

}
header a{
    position: fixed;
    left: 25%;
    padding-left: 2px;
    padding-right: 2px;

}

/*Visualizzazione Nome utente attivo in alto a destra nell Header*/
#utenteAttivo{
    position: fixed;
    top: 0px;
    right: 10px;
    /*Inserimento immagine decorativa*/
    background-size: 20px 20px;
    background-image: url("icone/profileIcon.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 0px 15px;

}
/*Visualizza la scritta (per ora statica) Logout in alto a destra nell Header*/
#logout{
    position: fixed;
    top: 20px;
    right: 45px;
    font-size: 15px;
    text-decoration: underline;

}
/*Visualizza una scritta che indica la pagina corrente, viene usato nella bacheca*/
#paginaCorrente {
    text-align: center;
    border:2px solid #aaaaaa;
    color: #FF9933;

}
/*Visualizzazione content della bacheca*/
#bachecacontent{
    padding-top: 1px;     
    padding-bottom: 10px;
    width: 75%;
    text-align: left;
    margin: 0 auto;
    margin-top:60px; 
    right: 0px;
    margin-right: 5px;
    position: absolute;

}
/*Visualizzazione sidebar sinistra*/
#sidebar{
    width: 20%;
    position: fixed;   
    border-right: 2px solid #aaaaaa;
    padding-right: 25px;
    height: 100%;
    margin-top:60px; 
}

/*Visualizzazione immagine decorativa di tipo people*/
.people {
    content: "";
    background-size: 20px 20px;
    background-image: url("icone/profileIcone2.png");
    background-repeat: no-repeat;
    padding-left: 30px; 
}

/*Visualizzazione immagine decorativa di tipo GrupInfo*/
.groupInfo {
    content: "";
    background-size: 20px 20px;
    background-image: url("icone/informaticaGroup.png");
    background-repeat: no-repeat;
    padding-left: 30px; 
}
/*Visualizzazione immagine decorativa di tipo GrupRitardatari*/
.groupRitardatari {
    content: "";
    background-size: 20px 20px;
    background-image: url("icone/sveglia.jpg");
    background-repeat: no-repeat;
    padding-left: 30px; 
}



#linkDescrizione{
    margin-top: 65px;    
}

/*Visualizzazione della sezione aggiornamento del profilo*/
#aggiornaProfilo{

    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
    text-align: center;

    /*Inserimento immagine decorativa*/
    content: "";
    background-size: 100px 100px;
    background-image: url("icone/profileIcone2.png");
    background-repeat: no-repeat;
    padding-left: 150px;

}

/*Gestione label e campi input della sezione di aggiornamento del profilo*/
#aggiornaProfilo label:after{
    content: '\A';
    white-space: pre;
}

/*Gestione label e campi input della sezione di aggiornamento del profilo*/
#aggiornaProfilo input{
    text-align: center;
    margin-left: 0px; 
}

/*Visualizzazione sezione di inserimento credenziali*/
#insert-credentials{
    margin-top: 80px;
    margin-right: 33%;
    margin-left: 33%;
    border:  2px solid #aaaaaa;
    text-align: center;
    padding: 10px;
    content: "\A";
}

#insert-credentials label:after{
    content: '\A';
    white-space: pre;
}

/*Visualizzazione sezione di navigazione ai Link nella pagina aggiornamento profilo*/
#naviga{
    position:fixed;
    bottom: 1px;

}

@media only screen and (min-width: 480px)
and (max-width: 1024px)
{
    #aggiornaProfilo{

       position: absolute;
        padding-left: 0px;
        margin-left: 45%;
        margin-top: 100px;
        text-align: center;

        background-image: none;

    }

    /*Gestione label e campi input della sezione di aggiornamento del profilo*/
    #aggiornaProfilo label:after{
        content: '\A';
        white-space: pre;
    } 
    /*Visualizzazione titolo nell Header*/
    header h1{
        display:inline;
        text-align: left;
        padding-left: 2px;
        font-size: 25px; 
    }
    header a{
        position: fixed;
        left: 35%;
        padding-left: 2px;
        padding-right: 2px;

    }
    
    
}

/*CSS per la visualizzazione su schermi da 480px o minori*/
@media only screen and (max-width: 480px)
{
    #sidebar {
        display: none;
    }

    #naviga {
        display: none;
    }

    #bachecacontent{
        width: 98%;
    }

    #titleToHide{
        display: none;
    }
    header a{
        position: fixed;
        left: 8px;      
    }

    /*Visualizzazione della sezione aggiornamento del profilo*/
    #aggiornaProfilo{

        position: absolute;
        padding-left: 0px;
        margin-left: 50px;
        margin-top: 100px;
        text-align: center;

        background-image: none;

    }

    /*Gestione label e campi input della sezione di aggiornamento del profilo*/
    #aggiornaProfilo label:after{
        content: '\A';
        white-space: pre;
    }

    /*Gestione label e campi input della sezione di aggiornamento del profilo*/
    #aggiornaProfilo input{
        text-align: center;
        margin-left: 0px; 
    }
    /*Visualizzazione sezione di inserimento credenziali*/
    #insert-credentials{
        margin-top: 80px;
        margin-right: 0px;
        margin-left: 0px;
        border:  2px solid #aaaaaa;
        text-align: center;
        padding: 10px;
        content: "\A";
    }
}